@import "./variables.scss";

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-button {
  border-radius: 6px;
  background: $color_green;
  border: none;
  color: $color_white;
  padding: 11px 27px 9px 26px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: max-content;
}

.bread-crumbs {
  display: flex;
  align-items: center;
}

.bread-crumbs a {
  text-decoration: none;
  color: $color_black;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
}

.bread-crumbs span {
  font-size: 12px;
  margin: 0 5px;
}

.custom-input {
  position: relative;
}

.custom-input__error {
  position: absolute;
  top: 40px;
  font-size: 11px;
  color: red;
}
