@import "./variables.scss";

footer {
  margin-top: 100px;
  width: 100%;

  & .footer__top,
  .footer__low {
    background: $color_white_gray;
  }

  & .footer__middle {
    background: rgba(70, 163, 88, 0.1);
  }

  & .coppyright {
    margin-top: 7px;
    color: $color_black;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
}
