@import "./variables.scss";

footer {
  margin-top: 100px;
  width: 100%;

  & .footer__top,
  .footer__low {
    background: $color_white_gray;
  }

  & .footer__middle {
    background: rgba(70, 163, 88, 0.1);
  }

  & .coppyright {
    margin-top: 7px;
    color: $color_black;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }

  & .footer__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0;
    padding: 31px 25px 24px 23px;
  }

  & h4 {
    color: $color_black;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
  }

  & .footer__top .newsletters {
    margin-top: 6px;
    max-width: 354px;
  }

  & .newsletters__input {
    margin: 18px 0 17px 0;
    width: 100%;
  }

  & .newsletters__input button {
    width: 85px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 0px 6px 6px 0px;
    background: $color_green;
    border: none;
    color: $color_white;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    cursor: pointer;
  }

  & .newsletters__input input {
    width: 269px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px 0 0px 6px;
    background: $color_white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06);
    border: none;
    padding: 12px 0 12px 11px;
  }

  & .newsletters__input input:focus {
    outline: none;
    border: 1px solid $color_green;
  }

  & input::placeholder {
    color: $color_gray_2;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }

  & input::-ms-input-placeholder {
    color: $color_gray_2;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }

  & .footer__text {
    color: $color_gray;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
  }

  & .footer__plants {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  & .footer__plants .footer__text {
    margin-top: 9px;
    max-width: 204px;
  }

  & .plants-one,
  .plants-three,
  .plants-two {
    position: relative;
  }

  & .plants-one {
    background: url("/footer/green-elipse.svg") 0 10px no-repeat,
      url("/footer/pot.svg") 17px 35px no-repeat;
  }

  & .plants-two {
    background: url("/footer/green-elipse.svg") 0 10px no-repeat,
      url("/footer/pot2.svg") 12px 35px no-repeat;
  }

  & .plants-three {
    background: url("/footer/green-elipse.svg") 0 10px no-repeat,
      url("/footer/pot3.svg") 5% 45px no-repeat;
  }

  & .plants-one img {
    position: absolute;
    top: -10px;
    left: 15px;
  }

  & .plants-two img {
    position: absolute;
    top: -10px;
    left: 15px;
  }

  & .plants-three img {
    position: absolute;
    top: 2px;
    left: 22px;
  }

  & .footer__middle {
    padding: 25px 23px 19px 23px;
    display: flex;
    align-items: center;
  }

  & .footer__middle p {
    color: $color_black;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    max-width: 176px;
  }

  & .footer__border-line {
    position: absolute;
    top: 50%;
    left: -120px;
    width: 187px;
    height: 1px;
    transform: rotate(-90deg);
    flex-shrink: 0;
    background: rgba(70, 163, 88, 0.1);
  }

  & .footer__middle-block-one,
  & .footer__middle-block-two,
  & .footer__middle-block-three {
    display: flex;
    align-items: center;
    gap: 9px;
  }

  & .footer__middle-block-one {
    margin-left: 87px;
  }

  & .footer__middle-block-two {
    margin-left: 70px;
  }

  & .footer__middle-block-three {
    margin-left: 73px;
  }

  & .footer__low {
    padding: 32px 23px 27px 23px;
    display: flex;
    align-items: flex-start;
    gap: 160px;
  }

  & .footer__low h4 {
    color: $color_black;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 6px;
  }

  & .footer__low a {
    display: block;
    text-decoration: none;
    color: $color_black;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  & .footer__low a:hover {
    color: $color_green;
  }

  & .social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  & .social-icon-item {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(70, 163, 88, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .social-accept {
    margin-top: 33px;
  }

  & .social-accept-list {
    margin-top: 13px;
    height: 26px;
    width: 224px;
    background: url("/footer/accept.jpg"), lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
  }
}
