@import "./variables.scss";

header {
  height: 78px;
  min-height: 78px;
  max-height: 78px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 0.3px solid rgba(70, 163, 88, 0.5);

  & .header__container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & nav {
    height: 100%;

    ul {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 50px;
    }

    a {
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      color: $color_black;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      position: relative;
    }

    a.active {
      font-weight: 700;
    }

    & .link_border {
      width: 100%;
      min-width: 100%;
      height: 3px;
      max-height: 3px;
      min-height: 3px;
      display: block;
      position: absolute;
      bottom: 0;
    }

    & .link_border.active {
      background: $color_green;
    }

    li {
      height: 100%;
    }
  }

  & .control-panele {
    display: flex;
    align-items: center;
    gap: 30px;

    & .control-panele__search,
    .control-panele__basket {
      border: none;
      background: none;
      cursor: pointer;
      width: min-content;
    }

    & .control-panele__basket {
      position: relative;
    }

    & .basket-count {
      position: absolute;
      background: $color_green;
      width: 12px;
      height: 12px;
      color: $color_white;
      font-size: 10px;
      font-weight: 500;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: -5px;
    }

    & .control-panele__login {
      color: $color_white;
      font-size: 16px;
      font-weight: 500;
      border-radius: 6px;
      background: $color_green;
      width: 100px;
      height: 35px;
      border: none;
      display: flex;
      align-items: center;
      padding: 8px 17px 7px 41px;
      cursor: pointer;
      position: relative;
    }

    & .control-panele__login::before {
      content: url("/icons/logout.svg");
      position: absolute;
      left: 17px;
    }
  }
}

.login-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(10, 13, 18, 0.25);
  z-index: 2;
}

.login-modal__container {
  width: 500px;
  height: auto;
  top: 100px;
  left: calc(50% - 500px / 2);
  background: white;
  position: fixed;
  padding: 50px 100px 0px 100px;
  border-bottom: 10px solid $color_green;
}

.login-modal__close {
  border: none;
  width: 18px;
  height: 18px;
  background: white;
  cursor: pointer;
  position: absolute;
  top: 11px;
  right: 12px;
}

.login-modal__tabs {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  line-height: 16px;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: $color_black;

  & .tab__center {
    font-weight: 250;
    line-height: 16px;
  }

  & .tab {
    cursor: pointer;
  }

  & .tab_active {
    color: #46a358;
  }
}

.login-modal__description {
  margin-top: 53px;
  width: 100%;
  color: $color_black;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.login-modal form {
  position: relative;
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.login-modal form input {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  height: 40px;
}

.login-modal input {
  padding: 12px 14px;
  color: $color_gray2;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.login-modal input[type="password"] {
  -webkit-text-security: disc;
  color: $color_black;
}

.login-modal input:focus {
  outline: none;
  border: 1px solid $color_green;
}

.show-password {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 267px;
}

.forgot-password {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: $color_green;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.login-submit {
  margin-top: 10px;
  cursor: pointer;
  color: $color_white;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 5px;
  background: $color_green;
  width: 100%;
  height: 45px;
  border: none;
}

.login-with {
  width: 100%;
  margin-top: 46px;
  color: $color_black;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  white-space: nowrap;

  & .login-with__border {
    width: 100%;
    height: 1px;
    background: #eaeaea;
  }
}

.login-with__items {
  padding: 27px 0 58px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-with__items button {
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: $color_gray;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.password-block {
  width: 100%;
  position: relative;
}

.password-block input {
  width: 100%;
}
