@import "./variables.scss";
@import "./main-slider.scss";

.slider {
  width: 100%;
  height: 450px;
  max-height: 450px;
  margin: 12px 0 0 0;
  background: linear-gradient(
    98deg,
    rgba(245, 245, 245, 0.5) -23.46%,
    rgba(245, 245, 245, 0.5) 107.51%
  );
  position: relative;

  & .slider-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  .slick-dots {
    bottom: 17px;
    display: flex;
    justify-content: center;

    margin: 0;
    padding: 1rem 0;

    li {
      margin: 0 0.25rem;
    }

    li button {
      display: block;
      width: 8px;
      height: 8px;
      padding: 0;

      border: none;
      border-radius: 100%;
      background-color: $color_green;
      opacity: 0.3;

      text-indent: -9999px;
    }

    li.slick-active button {
      background-color: $color_green;
      opacity: 1;
    }
  }
}

.slider-content {
  position: absolute;
  top: 0;
  left: 40px;
  color: $color_black;
}

.slider-greeting {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-top: 68px;
}

.slider-content h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  text-transform: uppercase;

  span {
    color: $color_green;
  }
}

.slider-content p {
  color: $color_gray;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.slider-content a {
  margin-top: 44px;
}

.main-content {
  width: 100%;
  padding: 46px 0 0 0;
  display: flex;
  gap: 50px;
}

.main-content__side-menu {
  width: 310px;
  background: $color_white_gray;

  & .side-menu__control-panel {
    padding: 14px 24px 19px 18px;
  }

  & .side-menu__control-panel h3 {
    color: $color_black;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
  }

  & .side-menu__price-range {
    margin-top: 36px;
  }

  & .side-menu__size {
    margin-top: 46px;
  }

  & ul {
    margin-top: 7px;
    margin-left: 12px;
  }

  & li {
    color: $color_black;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  & li.active {
    color: $color_green;
    font-weight: 700;
  }

  & .price-range-container {
    margin: 20px 42px 0 12px;
  }

  & .rc-slider-rail {
    background: rgba(70, 163, 88, 0.2);
  }

  & .rc-slider-track,
  .rc-slider-tracks {
    background: $color_green;
  }

  & .rc-slider-handle {
    background-color: $color_green;
    border: solid 2px $color_white;
  }

  & .price-range__value {
    margin: 15px 0 16px 0;
    color: $color_black;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
  }

  & .price-range__value span {
    color: $color_green;
    font-weight: 700;
  }
}

.main-content__content {
  width: 100%;

  & .main-content__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 39px;
  }

  & ul li {
    color: $color_black;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
  }

  & ul li.active {
    color: $color_green;
    font-weight: 700;
    border-color: $color_green;
  }

  & .menu-sort {
    color: $color_black;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
  }

  & .main-content__card-list {
    width: 100%;
    padding: 31px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 37px;
  }

  & .main-content__card-item {
    width: 258px;
    position: relative;
  }

  & .card-item__img-container {
    width: 258px;
    height: 300px;
    flex-shrink: 0;
    background: $color_white_gray;
  }

  & .card-item__img-item {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    mix-blend-mode: multiply;
  }

  & .card-item__title {
    margin-top: 12px;
  }

  & .main-content__card-item span {
    color: $color_green;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 6px;
  }

  & .card-item__hover-buttons {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    background: $color_white_gray;
    width: 125px;
    bottom: 74px;
    left: calc(50% - (125px / 2));
  }

  & .card-item__hover-buttons div {
    height: 35px;
    background: $color_white;
    padding: 8px 6px 7px 6px;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }

  span.card-item-cost-before {
    color: $color_gray2;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    margin-left: 16px;
    text-decoration: line-through;
  }

  .card-item__discount-table {
    position: absolute;
    padding: 7px 8px 6px 9px;
    background: $color_green;
    color: $color_white;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    top: 14px;
    left: 0;
  }
}

.main-pagination {
  width: 100%;
  padding-top: 90px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  & div {
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid $color_gray_border;
    background: $color_white;
    color: $color_black;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & div.active {
    background: $color_green;
    font-weight: 700;
    color: $color_white;
  }
}

.main-blog {
  padding: 101px 0 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;

  & div {
    width: 100%;
    height: 250px;
    position: relative;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    mix-blend-mode: multiply;
    background: url("/main/elipsis/elipse1.svg") 0 100% no-repeat,
      url("/main/elipsis/elipse2.svg") 0 100% no-repeat, $color_white_gray;
  }

  & h3 {
    font-weight: 700;
    text-align: end;
  }

  & p {
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
    color: $color_gray;
    line-height: 150%;
    text-align: end;
  }

  & button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  & button img {
    margin-top: 3px;
    height: auto;
  }

  & .main-blog_plant-one,
  .main-blog_plant-two {
    position: absolute;
    top: -50px;
    left: 10px;
  }
}

.posts {
  padding: 138px 0 0 0;
  width: 100%;

  & h2 {
    color: $color_black;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 16px;
  }

  & p {
    margin-top: 15px;
    color: $color_gray;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  & .posts-list {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 43px;
  }

  & .post-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  & .post-data {
    background: $color_white_gray;
    padding: 8.8px 25px 13px 13px;
  }

  & .post-date {
    color: $color_green;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
  }

  & .post-item h4 {
    margin-top: 4px;
    color: $color_black;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
  }

  & .post-item p {
    color: $color_gray;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: start;
  }

  & .post-item a {
    margin-top: 9px;
    color: $color_black;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: $color_black;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  & .post-item a img {
    margin-top: 2px;
  }

  & .post-item a:hover {
    color: $color_green;
  }
}
